<nz-table #basicTable [nzData]="listOfData" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>Mã đơn hàng</th>
          <th>Tên khách hàng</th>
          <th>Sản phẩm</th>
          <th>Số lượng</th>
          <th>Tổng tiền</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="nzModalData?.length == 0; else elseTemplate">
           <tr class="text-center table-warning">
             <td colspan="5" class="text-center">No Data</td>
           </tr>
        </ng-container>
        <ng-template #elseTemplate>
        @for (data of nzModalData; track data) {
          <tr>
            <td>{{ data.orderDetailId }}</td>
            <td>{{ data.customerName }}</td>
            <td>{{ data.productName }}</td>
            <td>{{ data.quantity  }}</td>
            <td>{{ data.subTotal_str }}</td>
          </tr>
        }
           </ng-template>
        
      </tbody>
    </nz-table>