<form nz-form
      [formGroup]="addEditForm">
  <nz-form-item>
    <nz-form-label [nzSm]="4"
                   [nzXs]="24"
                   nzRequired>Id</nz-form-label>
    <nz-form-control [nzSm]="18"
                     [nzXs]="24"
                     nzHasFeedback
                     nzValidatingTip="Validating..."
                     [nzErrorTip]="idErrorTpl">
      <input nz-input
             formControlName="id"
             placeholder="id" />
      <ng-template #idErrorTpl
                   let-control>
        @if (control.errors?.['required']) {
        Please input your id!
        }
        @if (control.errors?.['duplicated']) {
        The id is redundant!
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="4"
                   [nzXs]="24"
                   nzRequired>Name</nz-form-label>
    <nz-form-control [nzSm]="18"
                     [nzXs]="24"
                     nzHasFeedback
                     nzValidatingTip="Validating..."
                     [nzErrorTip]="nameErrorTpl">
      <input nz-input
             formControlName="name"
             placeholder="name" />
      <ng-template #nameErrorTpl
                   let-control>
        @if (control.errors?.['required']) {
        Please input your name!
        }
        @if (control.errors?.['duplicated']) {
        The name is redundant!
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="4"
                   [nzXs]="24"
                   nzRequired>Url</nz-form-label>
    <nz-form-control [nzSm]="18"
                     [nzXs]="24"
                     nzHasFeedback
                     nzValidatingTip="Validating..."
                     [nzErrorTip]="urlErrorTpl">
      <input nz-input
             formControlName="url"
             placeholder="url" />
      <ng-template #urlErrorTpl
                   let-control>
        @if (control.errors?.['required']) {
        Please input your url!
        }
        @if (control.errors?.['duplicated']) {
        The url is redundant!
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="4"
                   [nzXs]="24"
                   nzRequired>Icon</nz-form-label>
    <nz-form-control [nzSm]="18"
                     [nzXs]="24">
      <nz-input-group [nzAddOnAfter]="selIcon">
        <input formControlName="icon"
               nz-input />
      </nz-input-group>
      <ng-template #selIcon>
        <app-icon-sel [visible]="selIconVisible"
                      (selIcon)="seledIcon($event)"></app-icon-sel>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="4"
                   [nzXs]="24"
                   nzFor="parentId"
                   nzRequired>ParentId</nz-form-label>
    <nz-form-control [nzSm]="18"
                     [nzXs]="24"
                     nzErrorTip="Please select your parent!">
      <nz-tree-select [nzNodes]="nodes"
                      formControlName="parentId"
                      nzVirtualHeight="300px"
                      [nzDefaultExpandAll]="true"
                      nzShowSearch
                      nzPlaceHolder="Please select"
                      [nzDropdownMatchSelectWidth]="false">
      </nz-tree-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="4"
                   [nzXs]="24">Sort Order</nz-form-label>
    <nz-form-control [nzErrorTip]="combineTpl"
                     [nzSm]="18"
                     [nzXs]="24">
      <nz-input-number formControlName="sortOrder"
                       [nzMin]="0"
                       style="width: 100%"
                       [nzStep]="1"></nz-input-number>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="commandInFunction"
                   nzRequired
                   [nzSm]="4"
                   [nzXs]="24">Command function</nz-form-label>
    <nz-form-control [nzErrorTip]="combineTpl"
                     [nzSm]="18"
                     [nzXs]="24">
      <nz-select formControlName="commandInFunction"
                 nzMode="multiple"
                 nzPlaceHolder="commandInFunction">
        @for (command of commandOptions; track command) {
        <nz-option [nzLabel]="command.label"
                   [nzValue]="command.value"></nz-option>
        }
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #combineTpl
             let-control>
  @if (control.hasError('message')) {
  {{ control.errors.message }}
  }
  @if (control.hasError('required')) {
  Required fields
  }
  @if (errorMessage) {
  {{ errorMessage }}
  }
</ng-template>
@if (errorMessage) {
<nz-alert nzType="error"
          nzMessage="{{errorMessage}}"></nz-alert>
}
